<div class="body-height">
    <form [formGroup]="movieForm" (ngSubmit)="onRegister()">
        <div class="row text-center mb-3">
            <p class="fs-4 fw-bold text-primary">Movie Creation</p>
        </div>
        <div class="row mb-3">
            <label class="col-3 offset-1 form-control-sm fs-5 text-primary" for="name">Movie Name</label>
            <input class="col-7 form-control-sm" id="name" formControlName="name">
            <p class="validation-message"
                [class.visible]="movieForm.get('name')?.invalid && movieForm.get('name')?.touched">
                Movie Name is required and at least 6 characters.
            </p>
        </div>
        <div class="row mb-3">
            <label class="col-3 offset-1 form-control-sm fs-5 text-primary" for="type">Movie Type</label>
            <input class="col-7 form-control-sm" id="type" formControlName="type">
            <p class="validation-message"
                [class.visible]="movieForm.get('type')?.invalid && movieForm.get('type')?.touched">
                Movie Type is required and at least 3 characters.
            </p>
        </div>

        <div class="row mb-3">
            <label class="col-3 offset-1 form-control-sm fs-5 text-primary" for="date">Movie Date</label>
            <!-- <input class="col-4 form-control-sm" id="date" formControlName="date" type="number"> -->
            <!-- <p-datePicker
                class="col-4 form-control-sm" 
                id="date"
                [(ngModel)]="date2" 
                [iconDisplay]="'input'" 
                [showIcon]="true" 
                inputId="icondisplay" /> -->
            <app-datepicker class="col-7 form-control-sm" id="date"></app-datepicker>
            <p class="offset-2" *ngIf="movieForm.get('date')?.invalid && movieForm.get('date')?.touched">
                Movie Date is required.
            </p>
        </div>
        <div class="row">
            <button class="btn btn-outline-primary col-2 offset-4" routerLink="/movies">Back</button>
            <button class="btn btn-primary col-2 offset-3" type="submit" [disabled]="!movieForm.valid">Register</button>
        </div>
    </form>
</div>