.media{
    width: 700px;
    height: 350px;
    margin-left: 100px;
}

.movie-about{
    background-color: aquamarine;
}

.movie{
    margin-top: 80px;
}

img{
    margin-top: 100px;
}
 button{
    min-width: 100px;
 }
