.media{
    width: 700px;
    height: 350px;
    margin-left: 100px;
}

.movie-about{
    background-color: aquamarine;
    max-height: 200px;
    overflow-y: auto;
}
.movie-name{
    width: 220px; 
    margin-right: 50px;
    margin-left: 50px;
}

.movie{
    margin-top: 80px;
}
 button{
    min-width: 100px;
 }
