ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
#content {
    float: left;
    word-wrap: break-word;
    background: #FFFFFF;
    font-family: Raleway, sans-serif;
}

#content-sidebar{
    overflow: hidden;
    width: 100px;
    height: 100%;
    float: left;
    background: #2A2D33;
}

.content-header{
    margin-top: 15px;
    height: 44px;
}

.content-header input{
    border: thin;
}

.content-header button{
    font-size: .875rem;
    padding-top: 3px;
}

#content-header-item{
    height: 30px;
}
.content-body{
    overflow-y: auto; 
    max-height: 446px;
}
.dynamic-div{
    width: 230px;
    display: inline-block;
    margin-left: 17px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.img-margin{
    margin-top: 3px;
}

.card-margin{
    margin-bottom: 1px;
}

