<div class="row body-height mt-2">
    <form [formGroup]="companyForm">
        <div class="row text-center mt-3 mb-3">
            <p class="fs-4 fw-bold text-primary">Company Creation</p>
        </div>
        <div class="row mb-5">
            <label class="col-1 offset-4 form-control-sm fs-5 text-primary" for="name">Name</label>
            <div class="col-3">
                <input class="form-control" id="name" formControlName="name" [value]="companyDetails?.name"
                    [placeholder]="companyForm.get('name')?.invalid && companyForm.get('name')?.touched && companyForm.get('name')?.value.length < 6 
               ? 'Name must be at least 6 characters' : ''">
            </div>
        </div>
        <div class="row mb-5">
            <label class="col-1 offset-4 form-control-sm fs-5 text-primary" for="releaseMovies">Rel_Movies</label>
            <div class="col-3">
                <input type="number" class="form-control" id="releaseMovies" name="releaseMovies"
                    formControlName="releaseMovies" min="0">
            </div>
        </div>

        <div class="row mb-5">
            <label class="col-1 offset-4 form-control-sm fs-5 text-primary" for="nationality">Country</label>
            <div class="col-3">
                <select class="form-select" formControlName="country" aria-label=".form-select-sm example">
                    <option value="" selected>---select countries---</option>
                    <option value="America">America</option>
                    <option value="Chinese">Chinese</option>
                    <option value="English">English</option>
                    <option value="India">India</option>
                    <option value="Japan">Japan</option>
                    <option value="Korea">Korea</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="Thai">Thai</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <label class="col-1 offset-4 form-control-sm fs-5 text-primary" for="openDate">Crea_Date</label>
            <div class="col-3">
                <app-datepicker class="form-control border-0" id="openDate" type="date"
                    formControlName="openDate"></app-datepicker>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-outline-primary col-1 offset-4" routerLink="/companies">Back</button>
            <button class="btn btn-primary col-1 offset-2" type="submit" *ngIf="!isEdit" (click)="onRegister()"
                [disabled]="!companyForm.valid">Register</button>
            <button class="btn btn-primary col-1 offset-2" type="submit" *ngIf="isEdit" (click)="onUpdate()"
                [disabled]="!companyForm.valid">Update</button>
        </div>
    </form>
</div>