<!-- body start-->
    <div class="row  body-height">
        <div class="row btn-div1">
            <button class="btn btn-primary offset-1 col-1" (click)="onNewActor()">New</button>
            <a class="col-1 offset-1 line_hide" routerLink="/directors">GoDirector</a>
            <a class="col-1 offset-1 line_hide" routerLink="/companies">GoCompany</a>
            <input class="col-3 form-control-sm offset-1 bg-primary-subtle border-0" id="content-header-item" type="text"
                #searchvalue placeholder="Enter actor" (keydown.enter)="onSearch(searchvalue.value)">
            <!-- Search -->
            <button class="btn btn-primary col-1 offset-1" id="content-header-item" style="text-align: center;" type="submit"
                (click)="onSearch(searchvalue.value)">Search</button>
        </div>

        <!-- Table start -->
         <div class="table-body">
            <div class="table-scroll-wrapper">
                <table class="table table-bordered table-striped tbl-div">
                    <colgroup>
                        <col style="width: 50px;">
                        <col style="width: 100px;">
                        <col style="width: 450px;">
                        <col style="width: 200px;">
                        <col style="width: 200px;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="isAllCheck"
                                [(ngModel)]="isAllChecked"  (change)="toggleAllCheckBoxes()"/>
                            </th>
                            <th>No</th>
                            <th>Actor Name</th>
                            <th>Gentle</th>
                            <th>Nationality</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let actor of actors; let i = index">
                            <td>
                                <input type="checkbox" id="isCheck" [checked]="isCheckedItems[i]" 
                                (change)="toggleCheckBox(i,actor.id, $event)"/>
                            </td>
                            <td>{{i+1}}</td>
                            <td>{{actor.name}}</td>
                            <td>{{actor.gentle == 'm'?'Male':'Female'}}</td>
                            <td>{{actor.nationality}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </div>
        
        <!-- Table end -->

        <div class="row btn-div2">
            <!-- Back -->
            <button class="btn btn-outline-primary col-1 offset-1 " type="submit" routerLink="/home">Back</button>
            <!-- Edit -->
            <button class="btn btn-primary col-1 offset-7" id="content-header-item" style="text-align: center;" type="submit"
                (click)="onEditActor()" [disabled]="!isDisabled()">Edit</button>
            <!-- Delete -->
            <button class="btn btn-danger col-1 offset-1" id="content-header-item" style="text-align: center;" type="submit"
                (click)="onDelete()">Delete</button>
        </div>
    </div>
    <!-- body end -->