<!-- body start-->
<div class="row  body-height">
    <div class="row btn-div1">
        <button class="btn btn-primary offset-1 col-1" (click)="onNewUser()">New</button>
        <a class="col-1 offset-1 line_hide" routerLink="/actors">GoActor</a>
        <a class="col-1 line_hide" routerLink="/directors">GoDirector</a>
        <a class="col-1 line_hide" routerLink="/companies">GoCompany</a>
        <input class="col-3 form-control-sm offset-1 bg-primary-subtle border-0" id="content-header-item" type="text"
            #searchvalue placeholder="Enter user" (keydown.enter)="onSearch(searchvalue.value)">
        <!-- Search -->
        <button class="btn btn-primary col-1 offset-1" id="content-header-item" style="text-align: center;" type="submit"
            (click)="onSearch(searchvalue.value)">Search</button>
    </div>

    <!-- Table start -->
     <div class="table-body">
        <div class="table-scroll-wrapper">
            <table class="table table-bordered table-striped tbl-div">
                <colgroup>
                    <col style="width: 50px;">
                    <col style="width: 100px;">
                    <col style="width: 300px;">
                    <col style="width: 300px;">
                    <col style="width: 150px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                    <col style="width: 100px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="isAllCheck"
                            [(ngModel)]="isAllChecked"  (change)="toggleAllCheckBoxes()"/>
                        </th>
                        <th>No</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Nationality</th>
                        <th>age</th>
                        <th>Gentle</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>
                            <input type="checkbox" id="isCheck" [checked]="isCheckedItems[i]" 
                            (change)="toggleCheckBox(i,user.id, $event)"/>
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.nationality}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.gentle == 'm'?'Male':'Female'}}</td>
                        <td>{{user.role}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
     </div>
    
    <!-- Table end -->

    <div class="row btn-div2">
        <!-- Back -->
        <button class="btn btn-outline-primary col-1 offset-1 " type="submit" routerLink="/home">Back</button>
        <!-- Edit -->
        <button class="btn btn-primary col-1 offset-7" id="content-header-item" style="text-align: center;" type="submit"
        (click)="onEditUser()" [disabled]="!isDisabled()">Edit</button>
        <!-- Delete -->
        <button class="btn btn-danger col-1 offset-1" id="content-header-item" style="text-align: center;" type="submit"
            (click)="onDelete()">Delete</button>
    </div>
</div>
<!-- body end -->